# Python
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
.env

# Rust
target/
*.wasm

# Node
node_modules/
dist/
.vite/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Data
*.db
*.sqlite3
